$white: white;
$border-color: #bfbfbf;
$header-background: #eeeeee;
$text: (
    text-background: #474747,
    text-note: #cf3e4d
);

$icon: (
    icon-color: #bfbfbf,
    icon-background: #524e4e,
    icon-close: #989898
);
